.bloop/bloop.settings.json
.bloop/spark-scala-forge-test.json
.bloop/spark-scala-forge.json
.metals/metals.lock.db
.metals/metals.log
.metals/metals.mv.db
.metals/.reports/bloop/2024-01-31/r_Unexpected error whe..._16-40-30-807.md
.vscode/settings.json
.metals/.tmp/classpath_555D8364A9F5217556449E7B70E8D167.jar
target/analysis/compile
target/bloop-bsp-clients-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==/META-INF/semanticdb/src/main/scala/org/personal/sparkscalaforge/application/Main.scala.semanticdb
target/bloop-bsp-clients-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==/META-INF/semanticdb/src/main/scala/org/personal/sparkscalaforge/model/model.scala.semanticdb
target/bloop-bsp-clients-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==/org/personal/sparkscalaforge/application/Main.class
target/bloop-bsp-clients-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==/org/personal/sparkscalaforge/application/Main$.class
target/bloop-bsp-clients-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==/org/personal/sparkscalaforge/model/Model.class
target/bloop-bsp-clients-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==/org/personal/sparkscalaforge/model/Model$.class
target/bloop-bsp-clients-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==/org/personal/sparkscalaforge/model/Model$modelStreaming.class
target/bloop-bsp-clients-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==/org/personal/sparkscalaforge/model/Model$modelStreaming$.class
target/bloop-internal-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==-B1BKgQ4dQj22jwzgUl5kTw==/META-INF/semanticdb/src/main/scala/org/personal/sparkscalaforge/application/Main.scala.semanticdb
target/bloop-internal-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==-B1BKgQ4dQj22jwzgUl5kTw==/META-INF/semanticdb/src/main/scala/org/personal/sparkscalaforge/model/model.scala.semanticdb
target/bloop-internal-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==-B1BKgQ4dQj22jwzgUl5kTw==/org/personal/sparkscalaforge/application/Main.class
target/bloop-internal-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==-B1BKgQ4dQj22jwzgUl5kTw==/org/personal/sparkscalaforge/application/Main$.class
target/bloop-internal-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==-dqvYKx88SDmRNzRVXcAahQ==/META-INF/semanticdb/src/main/scala/org/personal/sparkscalaforge/model/model.scala.semanticdb
target/bloop-internal-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==-dqvYKx88SDmRNzRVXcAahQ==/org/personal/sparkscalaforge/model/Model.class
target/bloop-internal-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==-dqvYKx88SDmRNzRVXcAahQ==/org/personal/sparkscalaforge/model/Model$.class
target/bloop-internal-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==-dqvYKx88SDmRNzRVXcAahQ==/org/personal/sparkscalaforge/model/Model$modelStreaming.class
target/bloop-internal-classes/classes-Metals-JN5OaDFnQUCwJIvx39lioA==-dqvYKx88SDmRNzRVXcAahQ==/org/personal/sparkscalaforge/model/Model$modelStreaming$.class
target/classes/org/personal/sparkscalaforge/application/Main.class
target/classes/org/personal/sparkscalaforge/application/Main$.class
target/classes/org/personal/sparkscalaforge/model/Model.class
target/classes/org/personal/sparkscalaforge/model/Model$.class
target/classes/org/personal/sparkscalaforge/model/Model$modelStreaming.class
target/classes/org/personal/sparkscalaforge/model/Model$modelStreaming$.class
target/maven-archiver/pom.properties
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-01be460a-4428-4263-b765-aa78d48532dc.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-01d07f2f-83af-48a2-ae67-c8ee6bc1ee68.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-04c9eab2-118d-4a2b-afb7-aba6d85e23e1.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-5b871c56-c7f6-4d1e-a065-dbfe61026fd0.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-5d5e9e1e-934d-47ff-9286-719ba34d3a2d.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-6a79ced2-7f25-4987-adba-d65b94bfb80b.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-6e4fb542-0797-4a8d-bf92-cbeb40005541.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-65b5bde2-635b-4d77-bef3-e7b3c526a655.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-903a5049-8c4e-42cd-b9ea-4995beda4207.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-1175e5d3-a8b4-485a-9e53-44960f2b6039.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-2412ae4d-538d-48ff-891c-ca7db193bad7.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-703035c4-41fa-47b2-8c1f-b8fa302c15b1.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-e5b00d01-afe2-4ccb-b0f3-6f9a4eb365bf.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-e67a652c-c5a9-452d-b483-05de650579e0.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-f3fcaead-c51b-4bbc-b4f8-77ce7f853d30.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-fbcc25bc-8fc7-425e-9013-14fb08499fa8.xml
target/scalatest-reports/TEST-org.scalatest.tools.DiscoverySuite-fff966de-1c22-468f-b447-799e9d7e9b55.xml
target/scalatest-reports/TestSuite.txt
target/spark-scala-forge-analysis.bin
target/spark-scala-forge-1.0-SNAPSHOT.jar
target/spark-scala-forge-1.0-SNAPSHOT-shaded.jar
target/original-spark-scala-forge-1.0-SNAPSHOT.jar
